<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <span><img class="logo" src="../../assets/img/logo.jpg" alt="Interpint Logo"></span>
    <span class="fs-4 title">Ergonomia Stanowiska Pracy</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item mx-1"><a routerLink="" class="text-decoration-none">Ankieta</a></li>
      @if (authService.isLoggedIn() == false){
      <li class="nav-item mx-1"><a routerLink="login" class="text-decoration-none">Logowanie</a></li>
      }
      @if (authService.isLoggedIn() == true){
      <li class="nav-item mx-1"><a routerLink="score" class="text-decoration-none">Wyniki</a></li>
        <div>
          <a routerLink="" class="text-decoration-none"><span class="link" (click)="authService.logout()">Wyloguj</span></a>
        </div>
      }
    </ul>
  </header>
</div>
