<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4 title">Ergonomia Stanowiska Pracy</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item mx-1"><a routerLink="" class="text-decoration-none">Ankieta</a></li>
      @if (authService.currentUserSig() == null){
      <li class="nav-item text-decoration-none mx-1"><a routerLink="login" class="text-decoration-none">Logowanie</a></li>
      }
      @if (authService.currentUserSig()){
        <div>
          <span class="link" (click)="authService.logout()">Wyloguj</span>
        </div>
      }
    </ul>
  </header>
</div>
